#logo_header
{
    background: url(../img/images/bannerGES.jpg);
    height: 57px;
    width: 1240px;
}
.Estilo10 {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #330066;
}
