.Custom_menuBar_top{	
    height:25px;
    width:100%;
    background-repeat:repeat-x;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:10px;
    z-index:100000;
    padding-left:10px;
    background-image:url('../img/body/menu-header.png');
}

.Custom_menuBar_sub{
    position:absolute;
    background-color:#FFF;
    border:1px solid #000;
    background-image:url('../img/menu/menu-bar-gradient-gray.gif');
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size:10px;
    background-repeat:repeat-y;
    background-position: left center;
    display:inline;
}

