.Custom_menuItem_top_regular,.Custom_menuItem_top_over,.Custom_menuItem_top_click,.Custom_menuItem_top_disabled,.Custom_menuItem_top_active{
    height:20px;
}
.Custom_menuItem_top_regular div,.Custom_menuItem_top_over div,.Custom_menuItem_top_click div,.Custom_menuItem_top_disabled div,.Custom_menuItem_top_active div{
    padding-top:2px;
    padding-bottom:2px;
}
.Custom_menuItem_top_regular{	
    padding-left:4px;
    padding-right:4px;
    margin-right:2px;
    padding-top:1px;
    padding-bottom:1px;
    cursor:pointer;
    line-height:16px;
    margin-top:2px;
}

.Custom_menuItem_top_over{ 
    padding-left:3px;
    padding-right:3px;
    margin-right:2px;
    border:1px solid #000;
    background-color:#666666;
    cursor:pointer;
    line-height:16px;
    margin-top:2px;
}

.Custom_menuItem_top_active{	
    padding-left:3px;
    padding-right:3px;
    margin-right:2px;
    border:1px solid #000;
    border-bottom:1px solid #FFF;
    cursor:pointer;
    line-height:16px;
    margin-top:2px;
}

.Custom_menuItem_top_click{	
    padding-left:3px;
    padding-right:3px;
    margin-right:2px;
    border:1px solid #000;
    background-color:#94B94A;
    cursor:pointer;
    line-height:16px;
    margin-top:2px;
    z-index:20000;
}

.Custom_menuItem_top_disabled{	
    padding-left:4px;
    padding-right:4px;
    margin-right:2px;
    padding-top:1px;
    padding-bottom:1px;
    cursor:default;
    line-height:16px;
    margin-top:2px;
}

.Custom_menuItem_top_disabled img,.Custom_menuItem_top_disabled div{
    filter:alpha(opacity=30);
    opacity:0.3;

}

.Custom_menuItem_top_disabled div,.Custom_menuItem_top_active div, .Custom_menuItem_top_click div, .Custom_menuItem_top_regular div,.Custom_menuItem_top_over div{	
    float:left;
    padding-left:1px;
    padding-right:1px;
}

/* CSS FOR THE SMALL ARROW DIV - WHEN YOU CLICK ON THIS DIV, SUB ELEMENTS WILL SHOW */
.Custom_menuItem_top_arrowShowSub{
    width:12px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../img/menu/menu_strip_down_arrow.png');
    margin:0px;
    margin-right:-1px; 
    padding:0px;
    height:16px;
    margin-left:2px;
    float:right;
}

.Custom_menuItem_top_over .Custom_menuItem_top_arrowShowSub,
.Custom_menuItem_top_click .Custom_menuItem_top_arrowShowSub
{	
    margin-left:1px;
    border-left:1px solid #000;
}

.Custom_menuItem_separator_top{	
    height:18px;
    margin-top:3px;
    margin-bottom:3px;
    width:4px;
    padding-left:3px;
    padding-right:3px;
    background-repeat:repeat-y;
    background-image:url('../img/menu/menu_strip_separator-gray.gif');

}

.Custom_menuItem_sub_regular, .Custom_menuItem_sub_over,.Custom_menuItem_sub_click,.Custom_menuItem_sub_disabled,.Custom_menuItem_sub_active{	
    clear:both;
    line-height:18px;
    height:18px;
    padding-left:25px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:2px;
    cursor:pointer;
    margin:1px;
    background-repeat:no-repeat;
}
.Custom_menuItem_sub_disabled{
    cursor:default;
}
.Custom_menuItem_sub_disabled div,.Custom_menuItem_sub_disabled{	
    filter:alpha(opacity=30);
    opacity:0.3;
}
.Custom_menuItem_sub_regular{	
    margin-left:2px;	/* size of margin above + 1 pixel */
    padding-top:3px;	/* Size of padding-top above + 1 pixel */
    padding-bottom:3px;	/* Size of padding-bottom above + 1 pixel */
}

.Custom_menuItem_sub_over,.Custom_menuItem_sub_click,.Custom_menuItem_sub_active{
    border:1px solid #006;
}


.Custom_menuItem_sub_regular div, .Custom_menuItem_sub_over div,.Custom_menuItem_sub_click div{
    float:left;	
}

.Custom_menuItem_sub_over,.Custom_menuItem_sub_active{	
    background-color:#666666;
}

.Custom_menuItem_sub_click{	
    background-color:#94B94A;
}

.Custom_menuItem_sub_click div, .Custom_menuItem_sub_regular div,.Custom_menuItem_sub_over div,.Custom_menuItem_sub_active div,.Custom_menuItem_sub_disabled div{	
    float:left;
    padding-left:1px;
    padding-right:1px;

}
.Custom_menuItem_sub_arrowShowSub{	
    background-image:url('../img/menu/menu-bar-right-arrow.png');
    width:18px;
    height:18px;
    text-align:right;
    position:absolute;
    right:0px;
    background-repeat:no-repeat;
    background-position: center right;
}


.Custom_menuItem_separator_sub{	
    height:1px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:24px;
    padding-right:3px;
    background-color:#aeaeae;

}


