#overlayPop{
    z-index:2;
    position:absolute;
    top:0;
    left:0;        
    background:rgb(110,100,100);
}
#pop {
    z-index:3;
    position:absolute;
    border: 1px solid #333333;
    text-align:center;
    background: gainsboro;
}
#cerrar {
    /*float:right;
    margin-right: 10px;
    cursor:pointer;
    color:#FFFFFF;
    background-color:#666666;    
    width: 17px;
    height: 17px;
    position:relative;
    margin-top:4px;*/
    text-align:center;
}